<div id="poster" class="user-post">
    <img class="film-url" [src]="userPost.poster" [attr.alt]="userPost.poster">
    <div class="post-info">
        <div class="likes">
            <i class='bx bxs-like'></i>
            <span class="number-likes">{{ trimNumber(userPost.likes.length) }}</span>
        </div>
        <div class="comments">
            <i class='bx bxs-comment'></i>
            <span class="number-comments">{{ trimNumber(comments.length) }}</span>
        </div>
    </div>
</div>
