//selected film poster/title/release/type
.film-information {
    display: flex;
    flex-direction: row;
    width: 99.2%;
    height: 24.5vw;
    border: .2vw solid #fff;
    border-radius: 5px;
    backdrop-filter: blur(3px);
}
//selected film title/release/type
.film-text {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 25px;
    text-align: right;
    transform: translateY(-9%);
}
//selected film poster
.film-poster {
    padding-top: 10px;
    padding-right: 10px;
    width: 15.6vw;
    height: 23.4vw;
    border-radius: 5px;
}
//selected film title
.title {
    overflow-wrap: normal;
    line-height: 2.85vw;
    font-size: 2.85vw;
    color: #fff;
    font-weight: 600;
}
//selected film release/type
.release {
    font-size: 2.19vw;
    color: #fff;
    font-weight: 500;
    transform: translateY(-150%);
}

.film-type {
    font-size: 2.19vw;
    color: #fff;
    font-weight: 500;
    transform: translateY(-300%);
}