@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('../images/shadedBackground.jpg');
}

//container for film-information/bottom-half
.container {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 40px;
    bottom: 40px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}
//selected film poster/title/relese-date/type/rated/ratings/date-rated
.film-information {
    display: flex;
    width: 100%;
    height: 56%;
    border: .2vw solid #fff;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    transition: .5s;
}
//selected film title/release-date/type/rated
.film-text {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 20px;
    text-align: left;
    line-height: 2.25vw;
    font-size: 1.82vw;
    color: #fff;
    font-weight: 500;
}
//selected film poster
.film-poster {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    border-radius: 5px;
}
//selected film title
.title {
    overflow-wrap: normal;
    line-height: 2.85vw;
    font-size: 2.85vw;
    color: #fff;
    font-weight: 600;
    padding-bottom: 10px;
}
//container for date-rated
.date-rated {
    position: absolute;
    right: 20px;
    bottom: 10px;
    justify-content: right;
    text-align: right;
    font-size: 1.8vw;
    color: #fff;
    font-weight: 500;
}
//container for the ratings and the Edit Rate button
.bottom-half {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40.5%;
    border: .2vw solid #fff;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    justify-content:space-between;
    padding-top: 40px;
    padding-bottom: 30px;
}
//container for the ratings
.ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size: 2.6vw;
    font-weight: 600;
    padding-left: 4.2vw;
    padding-right: 4.2vw;
}
//holds the left/right arrow and the rating
.edit-ratings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
//each rating
.edit-ratings p {
    transform: translateY(-5%);
    transition: .5s;
}
//each left/right arrow
.edit-ratings a i {
    color: #fff;
}
//Edit Rate button
.button {
    width: 40%;
    height: 2.8vw;
    background: transparent;
    border: .2vw solid #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.55vw;
    color: #fff;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}