<head>
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body (window:resize)="sidebarCloseOnResize()">
    <nav class="sidebar active">
        <div class="logo-menu">
            <h2 class="logo">Account</h2>
            <i class='bx bx-menu toggle-button' (click)="toggleActive()"></i>
        </div>

        <ul class="list">
            <li class="list-item">
                <a (click)="navigateToHome()">
                    <i class='bx bx-home-alt'></i>
                    <span class="link-name" style="--i:6;">Home</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSearchMovies()">
                    <i class='bx bx-search'></i>
                    <span class="link-name" style="--i:5;">Search</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToMovies()">
                    <i class='bx bx-camera-movie'></i>
                    <span class="link-name" style="--i:4;">Movies</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToShows()">
                    <i class='bx bx-collection'></i>
                    <span class="link-name" style="--i:3;">Shows</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSummary()">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="link-name" style="--i:2;">Summary</span>
                </a>
            </li>
            <li class="list-item active">
                <a (click)="navigateToAccountsPosts()">
                    <i class='bx bx-user'></i>
                    <span class="link-name" style="--i:1;">Account</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSettings()">
                    <i class='bx bx-cog'></i>
                    <span class="link-name" style="--i:2;">Settings</span>
                </a>
            </li>
            <li class="signed-in-as-username">
                 <p class="link-name" style="--i:3">Signed in as:</p> 
                 <p class="link-name" style="--i:3">{{ currentUser.username }}</p>
            </li>
        </ul>
    </nav>

    <div class="does-user-exist" *ngIf="doesUserExistResult == false">
        <div class="container">
            <p>{{ username }} does not exist</p>
        </div>
    </div>

    <div class="is-current-user" *ngIf="isCurrentUserResult == true">
        <div class="container">
            <div class="account">
                <div class="account-information">
                    <img class="profile-picture" [src]="currentUser.profilePicture" [attr.alt]="currentUser.username">
                    <div class="account-information-text">
                        <div class="username-buttons">
                            <p class="username">{{ currentUser.username }}</p>
                            <button type="submit" class="edit-profile-button" (click)="navigateToSettings()">Edit Profile</button>
                        </div>
                        <div class="posts-followers-following">
                            <p class="num-posts">{{ currentUser.postIds.length }} posts</p>
                            <p class="num-followers">{{ currentUser.followers.length }} followers</p>
                            <p class="num-following">{{ currentUser.following.length }} following</p>
                        </div>
                        <div class="name-bio">
                            <p class="full-name">{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
                            <p class="bio">{{ currentUser.bio }}</p>
                        </div>
                    </div>
                </div>
                <div class="post-options">
                    <div class="posts-button">
                        <i class='bx bxs-grid'></i>
                        <i (click)="navigateToAccountsPosts()" class="posts">Posts</i>
                    </div>
                    <div class="tagged-button">
                        <i class='bx bx-purchase-tag-alt'></i>
                        <i (click)="navigateToAccountsTagged()" class="tagged">Tagged</i>
                    </div>
                    <div class="archive-button active">
                        <i class='bx bx-box'></i>
                        <i (click)="navigateToAccountsArchived()" class="archive">Archive</i>
                    </div>
                </div>
                <div class="scroll-box">
                    <ul class="archived-posts">
                        <li *ngFor="let post of usersArchivedPosts let i = index">
                            <app-user-post-template
                                [userPost]="post" 
                                (click)="onPostClicked(post, i)" 
                                class="user-post"
                            ></app-user-post-template>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="follower-info">
                <div class="follower-following-requests" *ngIf="currentUser.private; else public">
                    <div class="follower-type">
                        <i (click)="toggleFollowers()" class="followers active">Followers</i>
                        <i (click)="toggleFollowing()" class="following">Following</i>
                        <i (click)="toggleRequests()" class="requests">Requests</i>
                    </div>
                    <div class="list-follower-type">
                        <div class="list-followers" *ngIf="followers">
                            <div class="follower-scroll-box">
                                <div class="follower-list" *ngIf="currentUser.followers.length != 0; else noFollowers">
                                    <app-follower-template
                                        *ngFor="let follower of currentUser.followers"
                                        [followerAccount]="follower" 
                                        (click)="this.routingService.navigateToAccountsPosts(follower.username)" 
                                        class="follower-user"
                                    ></app-follower-template>
                                </div>
                                <ng-template #noFollowers>
                                    <p>You have no followers</p>
                                </ng-template>
                            </div>
                        </div>
                        <div class="list-following" *ngIf="following">
                            <div class="follower-scroll-box">
                                <div class="following-list" *ngIf="currentUser.following.length != 0; else noFollowing">
                                    <app-following-template
                                        *ngFor="let following of currentUser.following"
                                        [followingAccount]="following" 
                                        (click)="this.routingService.navigateToAccountsPosts(following.username)" 
                                        class="follower-user"
                                    ></app-following-template>
                                </div>
                                <ng-template #noFollowing>
                                    <p>You aren't following anyone</p>
                                </ng-template>                                    
                            </div>
                        </div>
                        <div class="list-requests" *ngIf="requests">
                            <div class="follower-scroll-box">
                                <div class="request-list" *ngIf="currentUser.requests.length != 0; else noRequests">
                                    <app-request-template
                                        *ngFor="let request of currentUser.requests"
                                        [requestAccount]="request" 
                                        (click)="this.routingService.navigateToAccountsPosts(request.username)" 
                                        class="follower-user"
                                    ></app-request-template>
                                </div>
                                <ng-template #noRequests>
                                    <p>You have no requests</p>
                                </ng-template>                                    
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #public>
                    <div class="right-side">
                        <div class="follower-type">
                            <i (click)="toggleFollowers()" class="followers active">Followers</i>
                            <i (click)="toggleFollowing()" class="following">Following</i>
                        </div>
                        <div class="follower-scroll-box">
                            <div class="list-follower-type">
                                <div class="list-followers" *ngIf="followers">
                                    <div class="follower-list" *ngIf="currentUser.followers.length != 0; else noFollowers">
                                        <app-follower-template
                                            *ngFor="let follower of currentUser.followers"
                                            [followerAccount]="follower" 
                                            (click)="this.routingService.navigateToAccountsPosts(follower.username)" 
                                            class="follower-user"
                                        ></app-follower-template>
                                    </div>
                                    <ng-template #noFollowers>
                                        <p>You have no followers</p>
                                    </ng-template>
                                </div>
                                <div class="list-following" *ngIf="following">
                                    <div class="following-list" *ngIf="currentUser.following.length != 0; else noFollowing">
                                        <app-following-template
                                            *ngFor="let following of currentUser.following"
                                            [followingAccount]="following" 
                                            (click)="this.routingService.navigateToAccountsPosts(following.username)" 
                                            class="follower-user"
                                        ></app-following-template>
                                    </div>
                                    <ng-template #noFollowing>
                                        <p>You aren't following anyone</p>
                                    </ng-template>                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="show-post" *ngIf="!checkPostActive(); else showPostActive">
            <div class="back-button">
                <a (click)="onBackOut()">
                    <i class='bx bx-x'></i>
                </a>
            </div>
            <div class="left-button" id="left-button" *ngIf="currentArchivedPostNumber != 0">
                <a (click)="onLeftPost()">
                    <i class='bx bx-chevron-left'></i>
                </a>
            </div>
            <div class="right-button" id="right-button" *ngIf="currentArchivedPostNumber != usersArchivedPosts.length - 1">
                <a (click)="onRightPost()">
                    <i class='bx bx-chevron-right'></i>
                </a>
            </div>
            <div class="post">
                <img class="film-poster" [src]="currentArchivedPost.poster" [attr.alt]="currentArchivedPost.poster">
                <div class="post-information">
                    <div class="current-user-info">
                        <div class="pofile-picture-username">
                            <img class="user-profile-picture" [src]="currentUser.profilePicture" [attr.alt]="currentUser.username">
                            <p class="user-username">{{ currentUser.username }}</p>
                        </div>
                        <p class="post-date">{{ fixCommentDate(currentArchivedPost.postDate) }}</p>
                    </div>
                    <div class="comment-scroll-box">
                        <div class="movie-rating-info" *ngIf="currentArchivedPost.postId.charAt(0) == 'm'; else series">
                            <p class="rating-information">{{ currentRatedMovie.title }}</p>
                            <div class="movie-criteria">
                                <div class="left-three">
                                    <p class="movie-criteria">Acting: {{ currentRatedMovie.acting }}</p>
                                    <p class="movie-criteria">Visuals: {{ currentRatedMovie.visuals }}</p>
                                    <p class="movie-criteria">Story: {{ currentRatedMovie.story }}</p>
                                </div>
                                <div class="right-three">
                                    <p class="movie-criteria">Climax: {{ currentRatedMovie.climax }}</p>
                                    <p class="movie-criteria">Pacing: {{ currentRatedMovie.pacing }}</p>
                                    <p class="movie-criteria">Ending: {{ currentRatedMovie.ending }}</p>
                                </div>
                            </div>
                            <p class="overall-rating">Overall Rating: {{ currentRatedMovie.rating }}</p>
                        </div>
                        <ng-template #series>
                            <div class="series-rating-info">
                                <p class="rating-information">{{ currentRatedSeries.title }}</p>
                                <div class="series-criteria">
                                    <div class="left-three">
                                        <p class="series-criteria">Acting: {{ currentRatedSeries.acting }}</p>
                                        <p class="series-criteria">Visuals: {{ currentRatedSeries.visuals }}</p>
                                        <p class="series-criteria">Story: {{ currentRatedSeries.story }}</p>
                                    </div>
                                    <div class="right-three">
                                        <p class="series-criteria">Pacing: {{ currentRatedSeries.pacing }}</p>
                                        <p class="series-criteria">Length: {{ currentRatedSeries.length }}</p>
                                        <p class="series-criteria">Ending: {{ currentRatedSeries.ending }}</p>
                                    </div>
                                </div>
                                <p class="overall-rating">Overall Rating: {{ currentRatedSeries.rating }}</p>
                            </div>
                        </ng-template>
                        <ul class="post-comments">
                            <li>
                                <div class="left-side">
                                    <img class="profile-pitcure" [src]="currentUser.profilePicture" [attr.alt]="currentUser.username">
                                    <div class="comment">
                                        <a class="profile-username" href="/account/{{ currentUser.username }}/posts">{{ currentUser.username }}</a>
                                        <p class="actual-comment" id="actual-comment">{{ boldAttedUsernames(currentArchivedPost.caption) }}</p>
                                    </div>
                                </div>
                            </li>
                            <li *ngFor="let comment of currentComments.reverse() let i = index">
                                <app-comment-template
                                    [comment]="comment" 
                                    class="post-comment-{{i}}"
                                ></app-comment-template>
                            </li>
                        </ul>
                    </div>
                    <div class="commenting-area">
                        <div class="left-buttons">
                            <div class="liked" *ngIf="currentArchivedPost.likes.includes(currentUser.username)">
                                <a (click)="onLike()">
                                    <i class='bx bxs-like'></i>
                                </a>
                            </div>
                            <div class="unliked" *ngIf="!currentArchivedPost.likes.includes(currentUser.username)">
                                <a (click)="onLike()">
                                    <i class='bx bx-like'></i>
                                </a>
                            </div>
                        </div>

                        <div class="input-box">
                            <label class="prompt">Comment</label>
                            <input class="input-enter" type="text" [(ngModel)]="commentInput" name="commentInput" (blur)="onCommentUnClick()" (focus)="onCommentClick()" (keyup.enter)="onPostComment()" required>    
                        </div>

                        <div class="right-buttons">
                            <a (click)="onPostComment()">
                                <i class='bx bx-send'></i>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="comment-warning" id="comment-warning">{{ commentWarning }}</p>
            </div>
        </div>
        <ng-template #showPostActive>
            <div class="show-post active">
                <div class="back-button">
                    <a (click)="onBackOut()">
                        <i class='bx bx-x'></i>
                    </a>
                </div>
                <div class="left-button" id="left-button" *ngIf="currentArchivedPostNumber != 0">
                    <a (click)="onLeftPost()">
                        <i class='bx bx-chevron-left'></i>
                    </a>
                </div>
                <div class="right-button" id="right-button" *ngIf="currentArchivedPostNumber != usersArchivedPosts.length - 1">
                    <a (click)="onRightPost()">
                        <i class='bx bx-chevron-right'></i>
                    </a>
                </div>
                <div class="post">
                    <img class="film-poster" [src]="currentArchivedPost.poster" [attr.alt]="currentArchivedPost.poster">
                    <div class="post-information">
                        <div class="current-user-info">
                            <div class="pofile-picture-username">
                                <img class="user-profile-picture" [src]="currentUser.profilePicture" [attr.alt]="currentUser.username">
                                <p class="user-username">{{ currentUser.username }}</p>
                            </div>
                            <p class="post-date">{{ fixCommentDate(currentArchivedPost.postDate) }}</p>
                        </div>
                        <div class="comment-scroll-box">
                            <div class="movie-rating-info" *ngIf="currentArchivedPost.postId.charAt(0) == 'm'; else series">
                                <p class="rating-information">{{ currentRatedMovie.title }}</p>
                                <div class="movie-criteria">
                                    <div class="left-three">
                                        <p class="movie-criteria">Acting: {{ currentRatedMovie.acting }}</p>
                                        <p class="movie-criteria">Visuals: {{ currentRatedMovie.visuals }}</p>
                                        <p class="movie-criteria">Story: {{ currentRatedMovie.story }}</p>
                                    </div>
                                    <div class="right-three">
                                        <p class="movie-criteria">Climax: {{ currentRatedMovie.climax }}</p>
                                        <p class="movie-criteria">Pacing: {{ currentRatedMovie.pacing }}</p>
                                        <p class="movie-criteria">Ending: {{ currentRatedMovie.ending }}</p>
                                    </div>
                                </div>
                                <p class="overall-rating">Overall Rating: {{ currentRatedMovie.rating }}</p>
                            </div>
                            <ng-template #series>
                                <div class="series-rating-info">
                                    <p class="rating-information">{{ currentRatedSeries.title }}</p>
                                    <div class="series-criteria">
                                        <div class="left-three">
                                            <p class="series-criteria">Acting: {{ currentRatedSeries.acting }}</p>
                                            <p class="series-criteria">Visuals: {{ currentRatedSeries.visuals }}</p>
                                            <p class="series-criteria">Story: {{ currentRatedSeries.story }}</p>
                                        </div>
                                        <div class="right-three">
                                            <p class="series-criteria">Pacing: {{ currentRatedSeries.pacing }}</p>
                                            <p class="series-criteria">Length: {{ currentRatedSeries.length }}</p>
                                            <p class="series-criteria">Ending: {{ currentRatedSeries.ending }}</p>
                                        </div>
                                    </div>
                                    <p class="overall-rating">Overall Rating: {{ currentRatedSeries.rating }}</p>
                                </div>
                            </ng-template>
                            <ul class="post-comments">
                                <li>
                                    <div class="left-side">
                                        <img class="profile-pitcure" [src]="currentUser.profilePicture" [attr.alt]="currentUser.username">
                                        <div class="comment">
                                            <a class="profile-username" href="/account/{{ currentUser.username }}/posts">{{ currentUser.username }}</a>
                                            <p class="actual-comment" id="actual-comment">{{ boldAttedUsernames(currentArchivedPost.caption) }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngFor="let comment of currentComments.reverse() let i = index">
                                    <app-comment-template
                                        [comment]="comment" 
                                        class="post-comment-{{i}}"
                                    ></app-comment-template>
                                </li>
                            </ul>
                        </div>
                        <div class="commenting-area">
                            <div class="left-buttons">
                                <div class="liked" *ngIf="currentArchivedPost.likes.includes(currentUser.username)">
                                    <a (click)="onLike()">
                                        <i class='bx bxs-like'></i>
                                    </a>
                                </div>
                                <div class="unliked" *ngIf="!currentArchivedPost.likes.includes(currentUser.username)">
                                    <a (click)="onLike()">
                                        <i class='bx bx-like'></i>
                                    </a>
                                </div>
                            </div>

                            <div class="input-box">
                                <label class="prompt">Comment</label>
                                <input class="input-enter" type="text" [(ngModel)]="commentInput" name="commentInput" (blur)="onCommentUnClick()" (focus)="onCommentClick()" (keyup.enter)="onPostComment()" required>    
                            </div>

                            <div class="right-buttons">
                                <a (click)="onPostComment()">
                                    <i class='bx bx-send'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="comment-warning" id="comment-warning">{{ commentWarning }}</p>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="user-blocked-current-user" *ngIf="userBlockedCurrentUserResult == true">
        <div class="container">
            <p>User blocked current user</p>
        </div>
    </div>
    <div class="current-user-blocked-user" *ngIf="currentUserBlockedUserResult == true">
        <div class="container">
            <p>Current user blocked user</p>
        </div>
    </div>
    <div class="current-user-follows-user" *ngIf="currentUserFollowsUserResult == true">
        <div class="container">
            <p>Current user follows user</p>
        </div>
    </div>
    <div class="current-user-requested-user" *ngIf="currentUserRequestedUserResult == true">
        <div class="container">
            <p>Current user requested user</p>
        </div>
    </div>
    <div class="user-follows-current-user" *ngIf="userFollowsCurrentUserResult == true">
        <div class="container">
            <p>User follows current user</p>
        </div>
    </div>
    <div class="user-requested-current-user" *ngIf="userRequestedCurrentUserResult == true">
        <div class="container">
            <p>User requested current user</p>
        </div>
    </div>
    <div class="private-user-not-followed-by-current-user" *ngIf="privateUserNotFollowedByCurrentUserResult == true">
        <div class="container">
            <p>Private user not followed by current user</p>
        </div>
    </div>
    <div class="public-user-not-followed-by-current-user" *ngIf="publicUserNotFollowedByCurrentUserResult == true">
        <div class="container">
            <p>Public user not followed by current user</p>
        </div>
    </div>
</body>