<head>
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <div class="post">
            <div id="film-poster" class="film-poster">
                <img class="poster" [src]="currentPostingSeries.poster" [attr.alt]="currentPostingSeries.poster">
                <p class="tagged-accounts">{{ watchedWith }}</p>
            </div>
            <div class="post-information">
                <div class="current-user-info">
                    <div class="pofile-picture-username">
                        <img class="user-profile-picture" [src]="currentUser.profilePicture" [attr.alt]="currentPostingSeries.username">
                        <p class="user-username">{{ currentPostingSeries.username }}</p>
                    </div>
                    <p class="post-date">{{ fixCommentDate(currentPostingSeries.dateRated) }}</p>
                </div>
                <div class="series-rating-info">
                    <p class="rating-information">{{ currentPostingSeries.title }}</p>
                    <div class="series-criteria">
                        <div class="left-three">
                            <p class="series-criteria">Acting: {{ currentPostingSeries.acting }}</p>
                            <p class="series-criteria">Visuals: {{ currentPostingSeries.visuals }}</p>
                            <p class="series-criteria">Story: {{ currentPostingSeries.story }}</p>
                        </div>
                        <div class="right-three">
                            <p class="series-criteria">Length: {{ currentPostingSeries.length }}</p>
                            <p class="series-criteria">Pacing: {{ currentPostingSeries.pacing }}</p>
                            <p class="series-criteria">Ending: {{ currentPostingSeries.ending }}</p>
                        </div>
                    </div>
                    <p class="overall-rating">Overall Rating: {{ currentPostingSeries.rating }}</p>
                </div>
                <div class="written-caption" *ngIf="caption.length != 0">
                    <img class="caption-profile-pitcure" [src]="currentUser.profilePicture" [attr.alt]="currentPostingSeries.username">
                    <div class="caption">
                        <p class="caption-username">{{ currentUser.username }}</p>
                        <p class="caption-text" id="caption-text">{{ caption }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="caption-input-box">
                <textarea type="text" [(ngModel)]="caption" name="caption" required></textarea>
                <label>What do you want to caption it?</label>
                <p>{{ caption.length }}/150</p>
            </div>
            <p class="caption-warning">{{ captionWarning }}</p>
            <div class="taggable-people">
                <div class="search-bar">
                    <label class="prompt">Who did you watch it with?</label>
                    <input class="input-enter" type="text" [(ngModel)]="searchInput" name="searchInput" (keyup.enter)="onSearchAccounts()" (blur)="untoggleSearchLabel()" (focus)="toggleSearchLabel()" (focus)="saveCaption()" required>
                    <a (click)="onSearchAccounts()">
                        <i class='bx bx-search'></i>
                    </a>
                </div>
        
                <div class="scroll-box">
                    <div class="taggable-accounts">
                        <div class="already-tagged-accounts" *ngFor="let taggedAccount of taggedAccounts; let i = index">
                            <app-tagged-account-template
                                [taggedAccount]="taggedAccount"
                                class="tagged-account-{{i}}"
                            ></app-tagged-account-template>
                        </div>
                        <div class="taggable-account" *ngFor="let taggableAccount of taggableAccounts; let i = index">
                            <app-taggable-account-template
                                [taggableAccount]="taggableAccount"
                                class="taggable-account-{{i}}"
                            ></app-taggable-account-template>
                        </div>
                    </div>
                </div>
            </div>
            <p class="tag-warning"></p>
            <div class="buttons">
                <button type="submit" class="post-button" (click)="onPost()">Post</button>
                <button type="submit" class="archive-button" (click)="onArchive()">Archive</button>
            </div>
        </div>
    </div>
</body>