.follower-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: .15vw solid #fff;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 7.5px;
}
.follower-info{
    display: flex;
    flex-direction: row;
}
.profile-picture {
    -webkit-filter: invert(100%);
    height: 2.25vw;
    width: 2.25vw;
    border-radius: 2.5vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
.username {
    font-size: 1.1vw;
    color: #fff;
    font-weight: 500;
    margin-left: 15px;
    cursor: pointer;
}
.button {
    width: auto;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: transparent;
    border: .15vw solid #fff;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: .85vw;
    color: #fff;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
    margin-right: 15px;
}