<head>
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body (window:resize)="sidebarCloseOnResize()">
    <nav class="sidebar active">
        <div class="logo-menu">
            <h2 class="logo">Summary</h2>
            <i class='bx bx-menu toggle-button' (click)="toggleActive()"></i>
        </div>

        <ul class="list">
            <li class="list-item">
                <a (click)="navigateToHome()">
                    <i class='bx bx-home-alt'></i>
                    <span class="link-name" style="--i:5;">Home</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSearchMovies()">
                    <i class='bx bx-search'></i>
                    <span class="link-name" style="--i:4;">Search</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToMovies()">
                    <i class='bx bx-camera-movie'></i>
                    <span class="link-name" style="--i:3;">Movies</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToShows()">
                    <i class='bx bx-collection'></i>
                    <span class="link-name" style="--i:2;">Shows</span>
                </a>
            </li>
            <li class="list-item active">
                <a (click)="navigateToSummary()">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="link-name" style="--i:1;">Summary</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToAccountsPosts()">
                    <i class='bx bx-user'></i>
                    <span class="link-name" style="--i:2;">Account</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSettings()">
                    <i class='bx bx-cog'></i>
                    <span class="link-name" style="--i:3;">Settings</span>
                </a>
            </li>
            <li class="username">
                 <p class="link-name" style="--i:4">Signed in as:</p> 
                 <p class="link-name" style="--i:4">{{ currentUser.username }}</p>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="left-side">
            <div class="favorite-container">
                <p class="title">Favorite Movie</p>
                <div class="favorite-film">
                    <img class="film-poster" [src]="highestRatedMovie?.poster" [attr.alt]="highestRatedMovie?.title">
                    <div class="film-information">
                        <div class="film-text">
                            <p class="film-title">{{ highestRatedMovie?.title }}</p>
                            <p class="film-release">{{ fixReleaseDate(highestRatedMovie?.releaseDate) }}</p>
                            <p class="film-runtime">{{ this.fixRuntime(highestRatedMovie!.runTime) }}</p>
                            <p class="film-rating">{{ highestRatedMovie?.rated }}</p>
                        </div>
                        <div class="rating-rated">
                            <p class="rating">Rating: {{ highestRatedMovie?.rating }}</p>
                            <p class="date-rated">Rated: {{ fixReleaseDate(highestRatedMovie?.dateRated) }}</p>    
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="favorite-container">
                <p class="title">Favorite Series</p>
                <div class="favorite-film">
                    <img class="film-poster" [src]="highestRatedSeries?.poster" [attr.alt]="highestRatedSeries?.title">
                    <div class="film-information">
                        <div class="film-text">
                            <p class="film-title">{{ highestRatedSeries?.title }}</p>
                            <p class="film-release">{{ fixReleaseDate(highestRatedSeries?.releaseDate) }}</p>
                            <p class="film-seasons">{{ highestRatedSeries?.seasons }} Seasons</p>
                            <p class="film-episodes">{{ highestRatedSeries?.episodes }} Episodes</p>
                            <p class="film-rating">{{ highestRatedSeries?.rated }}</p>
                        </div>
                        <div class="rating-rated">
                            <p class="rating">Rating: {{ highestRatedSeries?.rating }}</p>
                            <p class="date-rated">Rated: {{ fixReleaseDate(highestRatedSeries?.dateRated) }}</p>    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-side">
            <div class="stat-container">
                <p class="title">Rated Movie Statistics</p>
                <div class="film-stats">
                    <p class="stat">Movies Rated: {{ ratedMovieStatistics?.numFilmsRated }}</p>
                    <p class="stat">Minutes Watched: {{ fixRuntime(ratedMovieStatistics!.numMinutesWatched) }}</p>
                    <p class="stat">Average Movie Rating: {{ ratedMovieStatistics?.averageFilmRating }}</p>
                    <p class="stat">Most Watched Rating: {{ ratedMovieStatistics?.favoriteFilmRating }}</p>
                    <p class="stat">Most Watched Genre: {{ ratedMovieStatistics?.favoriteGenre }}</p>
                    <p class="stat"></p>
                </div>
            </div>

            <div class="stat-container">
                <p class="title">Rated Series Statistics</p>
                <div class="film-stats">
                    <p class="stat">Series Rated: {{ ratedSeriesStatistics?.numFilmsRated }}</p>
                    <p class="stat">Episodes Watched: {{ ratedSeriesStatistics?.numEpisodesWatched }}</p>
                    <p class="stat">Average Series Rating: {{ ratedSeriesStatistics?.averageFilmRating }}</p>
                    <p class="stat">Most Watched Rating: {{ ratedSeriesStatistics?.favoriteFilmRating }}</p>
                    <p class="stat">Most Watched Genre: {{ ratedSeriesStatistics?.favoriteGenre }}</p>
                    <p class="stat"></p>
                </div>
            </div>
        </div>
    </div>
</body>