<head>
  <title>Home</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="container">
    <div class="left-information">
      <p class="director">{{ this.checkDirectorWriterForDirector(omdbFilmDetails.Director, omdbFilmDetails.Writer) }}</p>
      <p class="writer">{{ this.checkDirectorWriterForWriter(omdbFilmDetails.Director, omdbFilmDetails.Writer) }}</p>
      <p class="release-date">Release Date: {{ this.fixRelease(omdbFilmDetails.Released) }}</p>
      <p class="box-office">{{ this.fixBoxOffice(omdbFilmDetails.Type, omdbFilmDetails.BoxOffice) }}</p>
      <p class="genre">Genre: {{ omdbFilmDetails.Genre }}</p>
      <p class="awards">Awards: {{ omdbFilmDetails.Awards }}</p>
      <p class="summary">Summary: {{ omdbFilmDetails.Plot }}</p>
    </div>
    <div class="right-information">
      <div class="movie-series-information">
        <div class="movie-information" *ngIf="filmType == 'movie'; else seriesInformation">
          <app-movie-information-template
            *ngFor="let movie of mdbMovieResult"
            [mdbMovieDetails]="movie"
          ></app-movie-information-template>
        </div>
        <ng-template #seriesInformation>
          <app-series-information-template
            *ngFor="let series of mdbSeriesResult"
            [mdbSeriesDetails]="series"
          ></app-series-information-template>
        </ng-template>
      </div>
      <div class="ratings-button">
        <div class="ratings">
          <div class="imdb-rating">
            <img class="imdb-img" src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" alt="Imdb">
            <p class="imdb-score">{{ this.checkIfRatingsEmpty(omdbFilmDetails.Ratings.at(0)?.Value) }}</p>
          </div>
          <div class="rotten-tomatoes-rating">
            <img class="rotten-tomatoes-img" src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Rotten_Tomatoes_logo.svg" alt="Rotten Tomatoes">
            <p class="rotten-tomatoes-score">{{ this.checkIfRatingsEmpty(omdbFilmDetails.Ratings.at(1)?.Value) }}</p>
          </div>
          <div class="metacritic-rating">
            <img class="metacritic-img" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Metacritic_logo_original.svg" alt="Metacritic">
            <p class="metacritic-score">{{ this.checkIfRatingsEmpty(omdbFilmDetails.Ratings.at(2)?.Value) }}</p>
          </div>
        </div>
        <button type="submit" class="rate-button" (click)="onRateThisFilm()">Rate This {{ this.fixFilmType(omdbFilmDetails.Type) }}</button>
      </div>
    </div>
  </div>
</body>
