<head>
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="sidebar">
        <div class="logo-menu">
            <h2 class="logo">Shows</h2>
            <i class='bx bx-menu toggle-button' (click)="toggleActive()"></i>
        </div>

        <ul class="list">
            <li class="list-item">
                <a (click)="navigateToHome()">
                    <i class='bx bx-home-alt'></i>
                    <span class="link-name" style="--i:4;">Home</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSearchMovies()">
                    <i class='bx bx-search'></i>
                    <span class="link-name" style="--i:3;">Search</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToMovies()">
                    <i class='bx bx-camera-movie'></i>
                    <span class="link-name" style="--i:2;">Movies</span>
                </a>
            </li>
            <li class="list-item active">
                <a (click)="navigateToShows()">
                    <i class='bx bx-collection'></i>
                    <span class="link-name" style="--i:1;">Shows</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSummary()">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="link-name" style="--i:2;">Summary</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToAccount()">
                    <i class='bx bx-user'></i>
                    <span class="link-name" style="--i:3;">Account</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSettings()">
                    <i class='bx bx-cog'></i>
                    <span class="link-name" style="--i:4;">Settings</span>
                </a>
            </li>
            <li class="username">
                 <p class="link-name" style="--i:5">Signed in as:</p> 
                 <p class="link-name" style="--i:5">{{ username }}</p>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="left-side">
            <div class="top-information">
                <img class="film-poster" [src]="activeSeries?.poster" [attr.alt]="activeSeries?.title">
                <div class="film-text">
                    <p class="title">{{ activeSeries?.title }}</p>
                    <p class="release">{{ fixReleaseDay(activeSeries?.releaseDate) }}</p>
                    <p class="film-type">{{ activeSeries?.type }}</p>
                    <p class="film-rating">{{ activeSeries?.rated }}</p>
                </div>
            </div>
            <div class="bottom-information">
                <div class="film-ratings">
                    <div class="rating-titles">
                        <p>Acting:</p>
                        <p>Visuals:</p>
                        <p>Story:</p>
                        <p>Pacing:</p>
                        <p>Length:</p>
                        <p>Ending:</p>
                        <p class="ovr-rating">Rating:</p>
                    </div>
                    <div class="rating-scores">
                        <p>{{ activeSeries?.acting }}</p>
                        <p>{{ activeSeries?.visuals }}</p>
                        <p>{{ activeSeries?.story }}</p>
                        <p>{{ activeSeries?.pacing }}</p>
                        <p>{{ activeSeries?.length }}</p>
                        <p>{{ activeSeries?.ending }}</p>
                        <p class="ovr-rating">{{ activeSeries?.rating }}</p>
                    </div>
                </div>
                <div class="date-rated">
                    <button type="submit" class="button" (click)="onEdit(activeSeries)">Edit Rating</button>
                    <p>Rated: {{ fixReleaseDay(activeSeries?.dateRated) }}</p>
                </div>
            </div>
        </div>
    
        <div class="rated-films-container">
            <div class="seach-bar">
                <div class="input-box">
                    <input type="text" [(ngModel)]="searchInput" name="searchInput" (keyup.enter)="onSearch()" required>
                    <label>What are you looking for?</label>
                </div>
            </div>
        
            <div class="scroll-box">
                <div class="rated-films">
                    <div class="rated-film" *ngFor="let series of ratedSeries; let i = index">
                        <app-rated-series-template
                            *ngIf="searchInput === '' || toLowerCase(series.title).includes(searchInput) || series.title.includes(searchInput)"
                            [ratedFilm]="series"
                            (click)="onRatedFilmClicked(series.title, series.rating)" 
                            class="rated-film-{{i}}"
                        ></app-rated-series-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>