<div class="whole-reply">
    <img class="profile-pitcure" [src]="reply.profilePicture" [attr.alt]="reply.username">
    <div class="commen-info">
        <div class="comment">
            <p class="profile-username">{{ reply.username }}</p>
            <p class="actual-comment">{{ reply.comment }}</p>
        </div>
        <div class="comment-options">
            <p class="comment-likes">{{ reply.likes.length }} likes</p>
            <p (click)="onReply(reply)" class="reply-button">Reply</p>
            <p class="comment-date">{{ fixCommentDate(reply.commentDate) }}</p>
        </div>
    </div>
</div>