<head>
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body (window:resize)="sidebarCloseOnResize()">
    <nav class="sidebar active">
        <div class="logo-menu">
            <h2 class="logo">Movies</h2>
            <i class='bx bx-menu toggle-button' (click)="toggleActive()"></i>
        </div>

        <ul class="list">
            <li class="list-item">
                <a (click)="navigateToHome()">
                    <i class='bx bx-home-alt'></i>
                    <span class="link-name" style="--i:3;">Home</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSearchMovies()">
                    <i class='bx bx-search'></i>
                    <span class="link-name" style="--i:2;">Search</span>
                </a>
            </li>
            <li class="list-item active">
                <a (click)="navigateToMovies()">
                    <i class='bx bx-camera-movie'></i>
                    <span class="link-name" style="--i:1;">Movies</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToShows()">
                    <i class='bx bx-collection'></i>
                    <span class="link-name" style="--i:2;">Shows</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSummary()">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="link-name" style="--i:3;">Summary</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToAccountsPosts()">
                    <i class='bx bx-user'></i>
                    <span class="link-name" style="--i:4;">Account</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSettings()">
                    <i class='bx bx-cog'></i>
                    <span class="link-name" style="--i:5;">Settings</span>
                </a>
            </li>
            <li class="username">
                 <p class="link-name" style="--i:6">Signed in as:</p> 
                 <p class="link-name" style="--i:6">{{ currentUser.username }}</p>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="left-side">
            <div class="top-information" *ngIf="activeMovie.dateRated != ''">
                <img class="film-poster" [src]="activeMovie.poster" [attr.alt]="activeMovie.title">
                <div class="film-text">
                    <p class="title">{{ activeMovie.title }}</p>
                    <p class="release">{{ fixReleaseDay(activeMovie.releaseDate) }}</p>
                    <p class="film-rating">{{ activeMovie.rated }}</p>
                </div>
            </div>
            <div class="bottom-information" *ngIf="activeMovie.dateRated != ''">
                <div class="film-ratings">
                    <div class="rating-titles">
                        <p>Acting:</p>
                        <p>Visuals:</p>
                        <p>Story:</p>
                        <p>Pacing:</p>
                        <p>Climax:</p>
                        <p>Ending:</p>
                        <p class="ovr-rating">Rating:</p>
                    </div>
                    <div class="rating-scores">
                        <p>{{ activeMovie.acting }}</p>
                        <p>{{ activeMovie.visuals }}</p>
                        <p>{{ activeMovie.story }}</p>
                        <p>{{ activeMovie.pacing }}</p>
                        <p>{{ activeMovie.climax }}</p>
                        <p>{{ activeMovie.ending }}</p>
                        <p class="ovr-rating">{{ activeMovie.rating }}</p>
                    </div>
                </div>
                <div class="date-rated">
                    <button type="submit" class="button" (click)="onEdit(activeMovie)">Edit Rating</button>
                    <p>Rated: {{ fixReleaseDay(activeMovie.dateRated) }}</p>
                </div>
            </div>
        </div>
    
        <div class="rated-films-container">
            <div class="seach-bar">
                <div class="input-box">
                    <input type="text" [(ngModel)]="searchInput" name="searchInput" (keyup.enter)="onSearch()" required>
                    <label>What are you looking for?</label>
                </div>
            </div>
        
            <div class="scroll-box">
                <div class="rated-films" *ngIf="usersRatedMovies.length != 0; else noRatedMovies">
                    <div class="rated-film" *ngFor="let movie of usersRatedMovies; let i = index">
                        <app-rated-movie-template
                            *ngIf="searchInput === '' || toLowerCase(movie.title).includes(searchInput) || movie.title.includes(searchInput)"
                            [ratedFilm]="movie"
                            (click)="onRatedFilmClicked(movie.title, movie.rating)" 
                            class="rated-film-{{i}}"
                        ></app-rated-movie-template>
                    </div>
                </div>
                <ng-template #noRatedMovies>
                    <div class="no-rated-movies">
                        <p>You dont have any ratings yet</p>
                        <button type="submit" (click)="navigateToSearchMovies()">Find Movie To Rate</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</body>