<div class="whole-comment">
    <img class="profile-pitcure" [src]="comment.profilePicture" [attr.alt]="comment.username">
    <div class="commen-info">
        <div class="comment">
            <p class="profile-username">{{ comment.username }}</p>
            <p class="actual-comment">{{ comment.comment }}</p>
        </div>
        <div class="comment-options">
            <p class="comment-likes">{{ comment.likes.length }} likes</p>
            <p (click)="onReply(comment)" class="reply-button">Reply</p>
            <p class="comment-date">{{ fixCommentDate(comment.commentDate) }}</p>
        </div>
    </div>
</div>