<head>
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="sidebar">
        <div class="logo-menu">
            <h2 class="logo">Settings</h2>
            <i class='bx bx-menu toggle-button' (click)="toggleActive()"></i>
        </div>

        <ul class="list">
            <li class="list-item">
                <a href="javascript:void(0)" (click)="navigateToHome()">
                    <i class='bx bx-home-alt'></i>
                    <span class="link-name" style="--i:8;">Home</span>
                </a>
            </li>
            <li class="list-item">
                <a href="javascript:void(0)" (click)="navigateToSearchMovies()">
                    <i class='bx bx-search'></i>
                    <span class="link-name" style="--i:7;">Search</span>
                </a>
            </li>
            <li class="list-item">
                <a href="javascript:void(0)" (click)="navigateToMovies()">
                    <i class='bx bx-camera-movie'></i>
                    <span class="link-name" style="--i:6;">Movies</span>
                </a>
            </li>
            <li class="list-item">
                <a href="javascript:void(0)" (click)="navigateToShows()">
                    <i class='bx bx-collection'></i>
                    <span class="link-name" style="--i:5;">Shows</span>
                </a>
            </li>
            <li class="list-item">
                <a href="javascript:void(0)" (click)="navigateToNews()">
                    <i class='bx bx-news' ></i>
                    <span class="link-name" style="--i:4;">News</span>
                </a>
            </li>
            <li class="list-item">
                <a href="javascript:void(0)" (click)="navigateToSummary()">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="link-name" style="--i:3;">Summary</span>
                </a>
            </li>
            <li class="list-item">
                <a href="javascript:void(0)" (click)="navigateToAccount()">
                    <i class='bx bx-user'></i>
                    <span class="link-name" style="--i:2;">Account</span>
                </a>
            </li>
            <li class="list-item active">
                <a href="javascript:void(0)" (click)="navigateToSettings()">
                    <i class='bx bx-cog'></i>
                    <span class="link-name" style="--i:1;">Settings</span>
                </a>
            </li>
            <li class="settings-item">
                <a class="account-info-icon" (click)="navigateToSettings()">
                    <i class='bx bx-info-circle'></i>
                    <span class="link-name" style="--i:2;">Account Info</span>
                </a>
            </li>
            <li class="settings-item active">
                <a class="privacy-icon" (click)="navigateToPrivacy()">
                    <i class='bx bx-shield-quarter' ></i>
                    <span class="link-name" style="--i:2;">Privacy</span>
                </a>
            </li>
            <li class="username">
                 <p class="link-name" style="--i:2">Signed in as:</p> 
                 <p class="link-name" style="--i:2">{{ username }}</p>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="top-side">
            <div class="change-info">
                <p class="title">Change Username</p>
                <div class="warning">
                    <p>{{ usernameWarning }}</p>
                </div>
                <div class="input-box">
                    <input type="text" [(ngModel)]="changeUsername" name="changeUsername" (keyup.enter)="onChangeUsername()" required>
                    <a href="javascript:void(0)">
                        <i class='bx bx-user'></i>
                    </a>
                    <label>Username</label>
                </div>
                <div class="middle-info">
                    <p>*Username must be above 6 characters</p>
                    <p>*Username must be below 14 characters</p>
                    <p>*Username can't be equal to your current one</p>
                    <p>*Username cannot contain special characters</p>
                    <p>{{ usernameSpecialCharactersString }}</p>
                </div>
                <button type="submit" class="button" (click)="onChangeUsername()">Submit</button>
            </div>
            <div class="change-info">
                <p class="title">Change Password</p>
                <div class="warning">
                    <p>{{ passwordWarning }}</p>
                </div>
                <div class="input-box">
                    <input type="text" [(ngModel)]="changePassword" name="changePassword" required>
                    <a href="javascript:void(0)">
                        <i class='bx bx-lock-open-alt' ></i>
                    </a>
                    <label>Password</label>
                </div>
                <div class="input-box">
                    <input type="text" [(ngModel)]="confirmChangePassword" name="confirmChangePassword" (keyup.enter)="onChangePassword()" required>
                    <a href="javascript:void(0)">
                        <i class='bx bx-lock-alt' ></i>
                    </a>
                    <label>Confirm Password</label>
                </div>
                <div class="middle-info">
                    <p>*Password must be above 8 and below 24 characters</p>
                    <p>*Password can't be equal to your current one</p>
                    <p>*Password must contain a capital letter and a number</p>
                    <p>*Password must contain any one of {{ passwordSpecialCharactersString }}</p>
                </div>
                <button type="submit" class="button" (click)="onChangePassword()">Submit</button>
            </div>
            <div class="change-info">
                <p class="title">Change Email</p>
                <div class="warning">
                    <p>{{ emailWarning }}</p>
                </div>
                <div class="input-box">
                    <input type="text" [(ngModel)]="changeEmail" name="changeEmail" (keyup.enter)="onChangeEmail()" required>
                    <a href="javascript:void(0)">
                        <i class='bx bx-envelope'></i>
                    </a>
                    <label>Email</label>
                </div>
                <div class="middle-info">
                    <p>*Email must be above 6 and below 30 characters</p>
                    <p>*Email can't be equal to your current one</p>
                    <p>*Email must contain a {{ passwordSpecialCharactersString.substring(2,3) }} and .</p>
                    <p>*Email cannot contain special characters</p>
                    <p>{{ usernameSpecialCharactersString }}</p>
                </div>
                <button type="submit" class="button" (click)="onChangeEmail()">Submit</button>
            </div>
        </div>
        <div class="bottom-side">
            <div class="change-info">
                <p class="title">Change First Name</p>
                <div class="warning">
                    <p>{{ firstNameWarning }}</p>
                </div>
                <div class="input-box">
                    <input type="text" [(ngModel)]="changeFirstName" name="changeFirstName" (keyup.enter)="onChangeFirstName()" required>
                    <label>First Name</label>
                </div>
                <div class="middle-info">
                    <p>*First name must be above 2 characters</p>
                    <p>*First name must be below 16 characters</p>
                    <p>*First name can't be equal to your current one</p>
                    <p>*First name cannot contain special characters</p>
                    <p>{{ usernameSpecialCharactersString }}</p>
                </div>
                <button type="submit" class="button" (click)="onChangeFirstName()">Submit</button>
            </div>
            <div class="change-info">
                <p class="title">Change Last Name</p>
                <div class="warning">
                    <p>{{ lastNameWarning }}</p>
                </div>
                <div class="input-box">
                    <input type="text" [(ngModel)]="changeLastName" name="changeLastName" (keyup.enter)="onChangeLastName()" required>
                    <label>Last Name</label>
                </div>
                <div class="middle-info">
                    <p>*Last name must be above 2 characters</p>
                    <p>*Last name must be below 16 characters</p>
                    <p>*Last name can't be equal to your current one</p>
                    <p>*Last name cannot contain special characters</p>
                    <p>{{ usernameSpecialCharactersString }}</p>
                </div>
                <button type="submit" class="button" (click)="onChangeLastName()">Submit</button>
            </div>
            <div class="change-info">
                <p class="title">Change Bio</p>
                <div class="warning">
                    <p>{{ bioWarning }}</p>
                </div>
                <div class="bio-input-box">
                    <textarea type="text" [(ngModel)]="changeBio" name="changeBio" (keyup.enter)="onChangeBio()" required></textarea>
                    <label>Bio</label>
                </div>
                <div class="middle-info">
                    <p>*Bio must be below 150 characters</p>
                </div>
                <button type="submit" class="button" (click)="onChangeBio()">Submit</button>
            </div>
        </div>
    </div>
</body>
