<head>
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body (window:resize)="sidebarCloseOnResize()">
    <nav class="sidebar active">
        <div class="logo-menu">
            <h2 class="logo">Search</h2>
            <i class='bx bx-menu toggle-button' (click)="toggleSidebarActive()"></i>
        </div>

        <ul class="list">
            <li class="list-item">
                <a (click)="navigateToHome()">
                    <i class='bx bx-home-alt'></i>
                    <span class="link-name" style="--i:2;">Home</span>
                </a>
            </li>
            <li class="list-item active">
                <a (click)="navigateToSearchMovies()">
                    <i class='bx bx-search'></i>
                    <span class="link-name" style="--i:1;">Search</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToMovies()">
                    <i class='bx bx-camera-movie'></i>
                    <span class="link-name" style="--i:2;">Movies</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToShows()">
                    <i class='bx bx-collection'></i>
                    <span class="link-name" style="--i:3;">Shows</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSummary()">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="link-name" style="--i:4;">Summary</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToAccountsPosts()">
                    <i class='bx bx-user'></i>
                    <span class="link-name" style="--i:5;">Account</span>
                </a>
            </li>
            <li class="list-item">
                <a (click)="navigateToSettings()">
                    <i class='bx bx-cog'></i>
                    <span class="link-name" style="--i:6;">Settings</span>
                </a>
            </li>
            <li class="username">
                 <p class="link-name" style="--i:7">Signed in as:</p> 
                 <p class="link-name" style="--i:7">{{ currentUser.username }}</p>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="search-bar">
            <label class="prompt">What did you watch?</label>
            <input class="input-enter" type="text" [(ngModel)]="searchInput" name="searchInput" (keyup.enter)="onSearch()" (blur)="untoggleSearchLabel()" (focus)="toggleSearchLabel()" required>
            <i (click)="toggleMoviesActive()" class="movies">Movies</i>
            <i (click)="toggleSeriesActive()" class="series">Series</i>
            <i (click)="toggleUsersActive()" class="users">Users</i>
            <a (click)="onSearch()">
                <i class='bx bx-search'></i>
            </a>
        </div>

        <div class="scroll-box" *ngIf="type != 'users'">
            <div class="searched-films">
                <app-searched-film-template
                    *ngFor="let film of translatedMovies"
                    [filmDetails]="film" 
                    (click)="onFilmClicked(film.Type, film.imdbID)" 
                    class="searched-film"
                ></app-searched-film-template>
            </div>
        </div>
        <!-- <div class="scroll-box">
            <div class="searched-users">
                <app-searched-film-template
                    *ngFor="let film of translatedMovies"
                    [filmDetails]="film" 
                    (click)="onFilmClicked(film.Type, film.imdbID)" 
                    class="searched-film"
                ></app-searched-film-template>
            </div>
        </div> -->
    </div>
</body>