@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('../images/shadedBackground.jpg');
}

//sidebar containing page title and other page redirects
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(3px);
    border-right: .15vw solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 6px 14px;
    transition: .5s
}
.sidebar.active {
    width: 260px;
}
//sidebar icon/page title
.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}
//sidebar page title
.sidebar .logo-menu .logo {
    font-size: 25px;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}
.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition-delay: .2s;
}
//sidebar icon
.sidebar .logo-menu .toggle-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}
.sidebar.active .logo-menu .toggle-button {
    left: 90%;
}
//list of all page redirects
.sidebar .list {
    margin-top: 10px;
}
//other page redirects icon/title
.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
    cursor: pointer;
}
.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}
.list .list-item.active a, 
.list .list-item a:hover {
    background: rgba(255, 255, 255, .2);
}
//other page redirect icons
.list .list-item a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
//other page redirect titles
.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}
.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}
//username at the bottom of the dashboard
.signed-in-as-username {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    list-style: none;
    bottom: 0;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

//conatiner for the search-bar/populated movies
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 300px;
    right: 40px;
    top: 40px;
    bottom: 40px;
    width: auto;
    height: auto;
    transition: .5s;
    //background-color: rgba(255, 0, 0, 0.2);
}
.container.active {
    left: 120px;
}



.show-post {
    transform: scale(0);
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(5px);
}
.show-post.active {
    transform: scale(1);
}

.left-buttons {
    display: flex;
    margin-left: 10px;
}
.right-buttons {
    display: flex;
    margin-right: 10px;
}
.back-button {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 25px;
    color: #fff;
    font-size: 2.5vw;
}
.left-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    color: #fff;
    font-size: 4vw;
}
.right-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #fff;
    font-size: 4vw;
}

.post {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 643px;
    width: 1000px;
    border: 3px solid #fff;
    border-radius: 5px;
}
.film-poster {
    aspect-ratio: 2/3;
    width: 430px;
    border-right: 3px solid #fff;
}
.post-information {
    display: flex;
    flex-direction: column;
    width: 570px;
}
.current-user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.pofile-picture-username {
    display: flex;
}
.user-profile-picture {
    height: 32px;
    width: 32px;
    border-radius: 32px;
    -webkit-filter: invert(100%);
}
.post-date {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16.5px;
    font-weight: 500;
    padding-right: 5px;
}
.user-username {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 16.5px;
    font-weight: 500;
}
//container for posts-comments
.comment-scroll-box {
    overflow: hidden;
    overflow-y: scroll;
    margin-right: 2px;
    padding-left: 12px;
    height: 80%;
}
//scrollbar
.comment-scroll-box::-webkit-scrollbar {
    width: 0.5em;
}
.comment-scroll-box::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0.25em;
}
.movie-rating-info, .series-rating-info {
    color: #fff;
    font-size: 16.5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 7.5px;
    padding: 7.5px 5px 10px 5px;
    border: 2px solid #fff;
    border-radius: 5px;
}
.rating-information {
    font-size: 19.5px;
    font-weight: 600;
    text-align: center;
}
.movie-criteria, .series-criteria {
    width: 100%;
    text-align: center;
    font-weight: 400;
}
.movie-criteria p, .series-criteria p {
    padding-left: 0;
    text-wrap: nowrap;
}
.overall-rating {
    padding-top: 2.5px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
//container for profile-picture and comment-info
.left-side {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    width: 545px;
}
.profile-pitcure {
    height: 32px;
    width: 32px;
    border-radius: 32px;
    -webkit-filter: invert(100%);
    margin: 2.5px 12px 5px 0;
}
//contianer for comment and comment-options
.comment-info {
    display: flex;
    flex-direction: column;
}
//container for profile-username and the actual-comment
.comment {
    display: flex;
    flex-direction: row;
    color: #fff;
    overflow: hidden;
}
.profile-username {
    font-weight: 600;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16.5px;
    line-height: 16.5px;
}
.actual-comment {
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16.5px;
    line-height: 19.5px;
}
.commenting-area {
    display: flex;
    height: 10%;
    border-top: 2px solid #fff;
    color: #fff;
}
//search input/search icon/search prompt
.input-box {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    transition: .5s;
}
//search prompt
.prompt {
    position: absolute;
    transition: .5s;
    font-size: 19.5px;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    margin: 1.75% 0 1.75% 2.5px;
}
//shifts search prompt up on click
.prompt.active {
    color: transparent;
    transition: .5s;
}
//search input
.input-box input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19.5px;
    color: #fff;
    font-weight: 500;
    padding: 0 2.5px 0 2.5px;
}
//search icon
.commenting-area a, .liked, .unliked {
    margin-right: 5px;
    margin: auto 0 auto 0;
    font-size: 31px;
    color: #fff;
    line-height: 50%;
    height: 50%;
    cursor: pointer;
}
.liked, .unliked {
    margin-left: 7.5px;
}
.comment-warning {
    position: absolute;
    width: 570px;
    top: 101%;
    right: 0;
    color: red;
    text-align: center;
    font-size: 16px;
    font-weight: 500;    
}




//does-user-exist text
.does-user-exist p {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
    font-weight: 500;
}

//container for account-information and user-posts
.account {
    display: flex;
    flex-direction: column;
    width: 66.5%;
    height: 100%;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    border: solid .2vw #fff;
}

//container for all the username/buttons/posts/followers/following/full-name/bio
.account-information {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
}
//profile picture
.profile-picture {
    height: 8vw;
    width: 8vw;
    border-radius: 8vw;
    margin-right: 15px;
    -webkit-filter: invert(100%);
}
//all the text in account-information container
.account-information-text {
    color: #fff;
    display: flex;
    flex-direction: column;
}
//layout for edit-profile/view-archive buttons
.username-buttons {
    display: flex;
    flex-direction: row;
    font-size: 1.5vw;
    font-weight: 600;
}
//edit-profile/view-archive buttons
.username-buttons button {
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    height: 1.75vw;
    background: transparent;
    border: .15vw solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: .75vw;
    color: #fff;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
//the number of the user's post/followers/following
.posts-followers-following {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 1.15vw;
}
.posts-followers-following p {
    margin-right: 2.5vw;
}
//user's full name
.full-name {
    font-weight: 500;
    font-size: .95vw;
}
//user's bio
.name-bio {
    margin-top: 15px;
    font-size: .9vw;
}

//container for user-posts
.scroll-box {
    overflow: hidden;
    overflow-y: scroll;
    margin-right: 2px;
    padding-left: 12px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    --top-mask-size: 20px;
    --bottom-mask-size: 0px;
}
//scrollbar
.scroll-box::-webkit-scrollbar {
    width: 0.5em;
}
.scroll-box::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0.25em;
}
//contains all the user-post's
.user-posts {
    display: inline-flex; 
    flex-flow: row wrap;
    justify-content: center; 
    align-items: center; 
    align-content: center;
    height: auto;
    width: 100%;
}
.user-posts > * {
    width: calc(100%/3 - 4px);
    aspect-ratio: 2/3;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    overflow: hidden;
}

//container for posts/tagged
.post-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 30%;
    padding-right: 30%;
    width: 100%;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    backdrop-filter: blur(3px);
}
//posts/tagged buttons
.post-options i {
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
}
//individual button
.posts-button, .tagged-button, .archive-button {
    display: flex;
    flex-direction: row;
    padding-right: 7.5px;
    padding-left: 7.5px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.posts-button.active {
    background: rgba(255, 255, 255, .2);
    border-radius: 3px;
}
//posts/tagged button text
.posts, .tagged, .archive {
    padding-right: 3px;
    padding-left: 3px;
    font-size: 1.05vw;
    color: #fff;
    cursor: pointer;
}

//container for followers/following/requests (if private)
.right-side {
    height: 100%;
}
//container for followers
.follower-scroll-box {
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 1px;
    right: 3px;
    height: auto;
    width: 100%;
    top: 60px;
    bottom: 0; 
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    --top-mask-size: 10px;
    --bottom-mask-size: 0px;
}
//scrollbar
.follower-scroll-box::-webkit-scrollbar {
    width: 0.5em;
}
.follower-scroll-box::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0.25em;
}

//container for the follower/following/requests (if private) info
.follower-info {
    border: .2vw solid #fff;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    width: 30%;
}
//followers/following/requests button text
.followers, .following, .requests {
    padding-right: 9px;
    padding-left: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.05vw;
    color: #fff;
    cursor: pointer;
}
//followers/following/requests buttons
.follower-type {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: .6vw;
    padding-bottom: .6vw;
    height: 60px;
    border-bottom: solid .2vw #fff;
}
.follower-type i.active {
    background: rgba(255, 255, 255, .2);
    border-radius: 3px;
}

//no follower/following/requests warning
.list-follower-type p {
    color: #fff;
    margin-top: 15px;
    font-size: 1.05vw;
    text-align: center;
}