@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('../images/shadedBackground.jpg');
}

//sidebar containing page title and other page redirects
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(3px);
    border-right: .15vw solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 6px 14px;
    transition: .5s
}
.sidebar.active {
    width: 260px;
}
//sidebar icon/page title
.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}
//sidebar page title
.sidebar .logo-menu .logo {
    font-size: 25px;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}
.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition-delay: .2s;
}
//sidebar icon
.sidebar .logo-menu .toggle-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}
.sidebar.active .logo-menu .toggle-button {
    left: 90%;

}
//list of all page redirects
.sidebar .list {
    margin-top: 10px;
}
//other page redirects icon/title
.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
    cursor: pointer;
}
.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}
.list .list-item.active a, 
.list .list-item a:hover {
    background: rgba(255, 255, 255, .2);
}
//other page redirect icons
.list .list-item a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
//other page redirect titles
.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}
.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}
//username at the bottom of the dashboard
.signed-in-as-username {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    list-style: none;
    bottom: 0;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

//conatiner for the search-bar/populated movies
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 300px;
    right: 40px;
    top: 40px;
    bottom: 40px;
    width: auto;
    height: auto;
    transition: .5s;
    background-color: rgba(255, 0, 0, 0.2);
}
.container.active {
    left: 120px;
}

//container for account-information and user-posts
.account {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: .2vw solid #fff;
    border-radius: 5px;
    backdrop-filter: blur(3px);
}

//container for all the username/buttons/posts/followers/following/full-name/bio
.account-information {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 100%;
}
//profile picture
.profile-picture {
    height: 8vw;
    width: 8vw;
    border-radius: 8vw;
    margin-right: 15px;
    -webkit-filter: invert(100%);
}
//all the text in account-information container
.account-information-text {
    color: #fff;
    display: flex;
    flex-direction: column;
}
//layout for edit-profile/view-archive buttons
.username-buttons {
    display: flex;
    flex-direction: row;
    font-size: 1.5vw;
    font-weight: 600;
}
//edit-profile/view-archive buttons
.username-buttons button {
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    height: 1.75vw;
    background: transparent;
    border: .15vw solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: .75vw;
    color: #fff;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
//the number of the user's post/followers/following
.posts-followers-following {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 1.15vw;
}
//makes followers/following clickable
.num-followers, .num-following {
    cursor: pointer;
    margin-left: 50px;
}
//user's full name
.full-name {
    font-weight: 500;
    font-size: .95vw;
}
//user's bio
.name-bio {
    margin-top: 15px;
    font-size: .9vw;
}

//container for user-posts
.scroll-box {
    overflow: hidden;
    overflow-y: scroll;
    margin-right: 6.5px;
}
//contains all the user-post's
.user-posts {
    height: auto;
    width: 101%;
}
//individual user post
.user-post {
    margin-right: .43vw;
}
//scrollbar
.scroll-box::-webkit-scrollbar {
    width: 0.5em;
}
.scroll-box::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0.25em;
}

.post-options {
    display: flex;
    flex-direction: row;
    padding-left: 16.5vw;
    padding-right: 16.5vw;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: .15vw solid #fff;
}

.posts-button, .tagged-button {
    display: flex;
    flex-direction: row;
}
.posts-button.active {
    border-top: .15vw solid #fff;
}
.posts, .tagged {
    padding-right: 3px;
    padding-left: 3px;
    font-size: 1.05vw;
    color: #fff;
    cursor: pointer;
}
.post-options i {
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
}